.banner {
  align-items: center;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  display: flex;
  padding: 2rem 0 3rem;
  position: relative;
  text-shadow: 1px 1px 2px var(--black);
  width: 100%;
}

.banner__background {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  opacity: 0.15;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.bg--hex {
  background-image: url("../../public/hexigonal-background-min.png");
}

.bg--triangles {
  background-image: url("../../public/bg-1.webp");
  opacity: .1;
}

.banner__container {
  display: grid;
  grid-column-gap: 2rem;
  z-index: 1;
}

.banner__text-container {
  p {
    color: var(--white);
    font-size: var(--font-size-3);
    margin-bottom: 1rem;
  }
}

.banner__cta-container {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  justify-content: center;
  padding-top: 2rem;
}

@media (width >=768px) {
  .banner {
    padding: 8rem 0 10rem;

    header {
      padding: 3rem 0;
    }
  }

  .banner__container {
    grid-template-columns: 1fr 2fr;
  }

  .banner__cta-container {
    align-items: start;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: start;
    padding-top: 0;
  }

  .banner__text-container {
    p {
      font-size: var(--font-size-4);
    }
  }
}