@use "sass:color";

$bg: #1b263b;
$light-shadow: color.adjust($bg, $lightness: 10%); // for top-left highlight
$dark-shadow: color.adjust($bg, $lightness: -10%); // for bottom-right shadow

.button {
  border-radius: 0.75rem;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  text-align: center;
  text-decoration: none;
}

.button--neumorphic {
  background: var(--white-90);
  border: 0 none;
  color: var(--color-primary);
  box-shadow:
    0.25rem 0.25rem 0.5rem var(--gray-100),
    -0.25rem -0.25rem 0.5rem var(--white-95),
    inset 0 0 0 var(--black-15),
    inset 0 0 0 var(--white-95);
  transition: box-shadow 0.1s ease-in-out;
}

.button--neumorphic:hover {
  box-shadow:
    0.125rem 0.125rem 0.25rem var(--gray-100),
    -0.125rem -0.125rem 0.25rem var(--white-95),
    inset 0 0 0 var(--black-15),
    inset 0 0 0 var(--white-95);
}

.button--neumorphic:active {
  box-shadow:
    0 0 0 var(--black-15),
    0 0 0 var(--white-95),
    inset 0.25rem 0.25rem 0.5rem var(--black-15),
    inset -0.25rem -0.25rem 0.5rem var(--white-95);
}

.button--neumorphic-dark {
  background: var(--color-primary);
  color: var(--white);
  border: none;
  cursor: pointer;
  box-shadow:
    -3px -3px 3px $light-shadow, // top-left light
    4px 4px 8px $dark-shadow; // bottom-right dark
  transition: all 0.2s ease;

  &:hover {
    box-shadow:
      -2px -2px 4px $light-shadow,
      2px 2px 4px $dark-shadow;
    transform: translateY(-1px);
  }

  &:active {
    box-shadow:
      inset 2px 2px 4px $dark-shadow,
      inset -2px -2px 4px $light-shadow;
    transform: translateY(1px);
  }
}

.text-link {
  display: inline-block;
  font-weight: 600;
  border-bottom: 1px solid currentColor;
  letter-spacing: 0.05rem;
  opacity: 80%;
  padding-bottom: 0.25rem;
  text-decoration: none;
  transition: opacity 0.1s ease-in-out;

  &:focus,
  &:hover {
    opacity: 100%;
  }
}

.link__arrow--external,
.link__arrow--internal {
  font-weight: 600;
}

.link__arrow--external::after,
.link__arrow--internal::after {
  display: inline-block;
  padding-left: 0.25rem;
}

.link__arrow--external::after {
  content: '↗';
}

.link__arrow--internal::after {
  content: '→';
}