@use 'sass:color';
@use './mixins' as *;

$colors: (
  bg-light: #ecf0f3,
  dark-navy: #18121e,
  color-primary: #1b263b,
  color-primary-dark: #0d1b2a,
  color-primary-light: #415a77,
  color-primary-lighter: #778da9,
  color-secondary: #e0e1dd,
  warning-yellow: #eac67a,
  css-blue: #264de4,
  facebook-blue: #3b5998,
  google-red: #d34836,
  html-orange: #e34f26,
  instagram-blue: #517fa4,
  js-black: #323330,
  js-yellow: #f0db4f,
  linkedin-blue: #007bb6,
  pinterest-red: #cb2027,
  rails-red: #c00,
  react-blue: #00d8ff,
  sass-magenta: #c69,
  twitter-blue: #00aced,
  youtube-red: #bb0000,
  'white': #ffffff,
  'black': #000000,
  text-dark: #333333,
  text-light: #f2f2f2,
);

:root {
  @each $name, $color in $colors {
    --#{$name}: #{$color};
  }

  @include shade-variant('gray', #f2f2f2);
  @include opacity-variant('black', #000000);
  @include opacity-variant('white', #ffffff);
}