@use './normalize';
@use './typography';
@use './color-variables';
@use './buttons';
@use './layout';
@use './cards';
@use './banners';
@use '@/components/SocialLinks/SocialLinks.scss';
@use '@/components/Footer/Footer.scss';
@use '@/components/Navbar/Navbar.scss';
@use '@/components/Lists/Lists.scss';

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}