.list--standard {
  display: grid;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.list--inline {
  display: flex;
  flex-wrap: wrap;
  gap: 0.125rem 0.25rem;
  list-style: none;
  margin: 0;
  padding: 0;

  .list__item {
    background: var(--bg-light);
    border-radius: 10px;
    padding: 0.3rem 0.75rem;
    margin: 0.25rem;
    font-size: var(--font-size-1);
    box-shadow:
      inset 2px 2px 5px var(--gray-100),
      inset -2px -2px 5px var(--white);
    color: var(--color-primary);
  }
}

@media (width >= 768px) {
  .list__item {
    font-size: var(--font-size-2);
  }

  .list--inline {
    gap: 0.25rem 0.5rem;
  }

}