.contact__form-container {
  background-color: var(--white-95);
  border-radius: 0.75rem;
  color: var(--text-dark);
  padding: 1rem;
  text-shadow: none;
}

@media (width >=768px) {
  .contact__form-container {
    padding: 2rem;
  }
}