.navbar__container {
  background-color: var(--color-primary-dark);
  width: 100%;
}

.navbar__nav {
  align-items: center;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  .navbar__logo a {
    color: white;
    display: flex;
    max-height: 2rem;
    max-width: 5rem;
    text-decoration: none;
  }

  .navbar__list {
    display: flex;
    gap: 20px;
    list-style: none;
    padding-left: 1rem;

    a {
      font-weight: 600;
      padding: 0.5rem 0;
      position: relative;
      text-decoration: none;

      &::after,
      &::before {
        background-color: var(--color-primary-lighter);
        bottom: 0;
        content: '';
        height: 0.125rem;
        position: absolute;
        transition: width 0.1s ease-in-out;
        width: 0%;
      }

      &::after {
        left: 50%;
      }

      &::before {
        right: 50%;
      }

      &:focus,
      &.current,
      &:hover {
        &::before,
        &::after {
          width: 50%;
        }
      }
    }
  }
}