.footer {
  padding: 2rem 2rem 1rem;
  text-align: center;

  p {
    font-size: 0.875rem;
  }

  .social-links__list {
    padding: 1rem 0 0;
  }

  .social-links__link {
    grid-template-columns: auto;
    margin-bottom: 0.5rem;
  }
}

.footer__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 75rem;
  margin: 0 auto;
  padding: 1rem 0;
  width: 100%;
}