.banner {
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 10rem 2rem 12rem;
  position: relative; // Needed for overlay positioning
  text-align: center;

  &::before {
    background-attachment: fixed;
    background-image: url("../../../public/bg-1.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    filter: blur(2px);
    height: 100%;
    left: 0;
    opacity: 0.15; // Adjust for subtlety
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }

  .content {
    position: relative; // Ensures text appears above the pattern
    z-index: 1;
  }
}

@media (width >= 768px) {
  .banner {
    padding: 14rem 2rem 16rem;
  }
}